# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/flutter_app/build/
/flutter_app/android/local.properties
/flutter_app/ios/.symlinks/
/flutter_app/ios/Pods/

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
*.iml
